<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input label="Nombre" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Email" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Contraseña" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="register()">Registrarse</ion-button>

</ion-content>
