<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Contenedor centrado -->
  <div class="register-container">

    <ion-list>
      <ion-item>
        <ion-input 
          label="Nombre" 
          label-placement="floating" 
          fill="solid" 
          placeholder="Tu nombre" 
          [(ngModel)]="name">
          <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Email" 
          label-placement="floating" 
          fill="solid" 
          placeholder="email@domain.com" 
          type="email" 
          [(ngModel)]="email">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Contraseña" 
          label-placement="floating" 
          fill="solid" 
          placeholder="Password" 
          type="password" 
          [(ngModel)]="password">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" color="primary" (click)="register()">
      Registrarse
    </ion-button>

    <!-- Botón para volver al login -->
    <ion-button fill="clear" expand="full" (click)="goToLogin()">
      ¿Ya tienes cuenta? Inicia sesión
    </ion-button>

  </div>

</ion-content>
