<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tasks</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/new-task">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let t of tasks" [routerLink]="['/task-detail', t.id]">
      <ion-label>
        <h2>{{ t.title }}</h2>
        <p>{{ t.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
